/* Сімейство шрифтів "Josefin Sans"*/
/* @font-face {
	font-family: "Josefin Sans";
	src: url("../fonts/JosefinSans-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Josefin Sans";
	src: url("../fonts/JosefinSans-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Josefin Sans";
	src: url("../fonts/JosefinSans-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
} */

/* Сімейство шрифтів "PFDinTextCondPro" немає на Google Fonts */
@font-face {
	font-family: "PFDinTextCondPro";
	src: url("../fonts/PFDinTextCondPro-Regular-2.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "PFDinTextCondPro";
	src: url("../fonts/PFDinTextCondPro-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "PFDinTextCondPro";
	src: url("../fonts/PFDinTextCondPro-Bold-2.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

/* Сімейство шрифтів "Proxima Nova" немає на Google Fonts */
@font-face {
	font-family: "Proxima Nova";
	src: url("../fonts/ProximaNova-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Proxima Nova";
	src: url("../fonts/ProximaNovaCond-Semibold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Proxima Nova";
	src: url("../fonts/ProximaNova-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}