@import url(reset.css);

* {
	color: red;
}

[class*="tle"] {
	color: rgba(144, 4, 4, 0.826);
}

.item-link.black {
	color: black;
}

.item-link.orange {
	color: orange;
}

.text {
	color: chocolate;
}

#some-id {
	color: rgb(50, 66, 205);
}

.block .block-text {
	color: rgb(60, 215, 106);
}

.block-item>h2 {
	color: blueviolet;
}

.images+p {
	color: blue;
}

.text mark {
	color: darkblue;
}

.footer-img~a {
	color: rgb(205, 50, 122);
}